# Exploring the Global Coral Bleaching Database

Start the connection to the DB file.

In [1]:
%load_ext sql

import sqlite3
import csv
import pandas as pd
import numpy as np
import sqlalchemy

con = sqlite3.connect("data/Global_Coral_Bleaching_Database_SQLite_11_24_21.db")
cur = con.cursor()

In [3]:
%sql sqlite:///data/Global_Coral_Bleaching_Database_SQLite_11_24_21.db

In [5]:
%%sql
PRAGMA table_info(Site_info_tbl)

 * sqlite:///data/Global_Coral_Bleaching_Database_SQLite_11_24_21.db
Done.

[(0, 'Site_ID', 'INTEGER', 1, None, 1),
 (1, 'Data_Source', 'INTEGER', 0, '0', 0),
 (2, 'Latitude_Degrees', 'REAL', 0, None, 0),
 (3, 'Longitude_Degrees', 'REAL', 0, None, 0),
 (4, 'Ocean_Name', 'INTEGER', 0, '0', 0),
 (5, 'Realm_Name', 'INTEGER', 0, '0', 0),
 (6, 'Ecoregion_Name', 'INTEGER', 0, '0', 0),
 (7, 'Country_Name', 'INTEGER', 0, '0', 0),
 (8, 'State_Island_Province_Name', 'INTEGER', 0, '0', 0),
 (9, 'City_Town_Name', 'INTEGER', 0, '0', 0),
 (10, 'City_Town_Name_2', 'INTEGER', 0, '0', 0),
 (11, 'City_Town_Name_3', 'INTEGER', 0, '0', 0),
 (12, 'City_Town_Name_4', 'INTEGER', 0, '0', 0),
 (13, 'Site_Name', 'VARCHAR(255)', 0, None, 0),
 (14, 'Distance_to_Shore', 'REAL', 0, None, 0),
 (15, 'Exposure', 'REAL', 0, None, 0),
 (16, 'Turbidity', 'REAL', 0, '0', 0),
 (17, 'Cyclone_Frequency', 'REAL', 0, '0', 0),
 (18, 'Comments', 'VARCHAR(255)', 0, None, 0),
 (19, 'TRIAL534', 'CHAR(1)', 0, None, 0)]